<form [formGroup]="locationFormGroup">
  <mat-form-field>
    <input matInput formControlName="juridicName" [(ngModel)]="juridicName">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="{{ 'commercial name' | translate }}" formControlName="commercialName">
    <mat-error *ngIf="locationFormGroup.controls['commercialName'].errors?.required">
      {{ 'required commercial name' | translate }}
    </mat-error>
  </mat-form-field>

  <mat-checkbox formControlName="bronari">{{ 'reservation' | translate }}</mat-checkbox>

  <p>{{ 'starnet sale' | translate }}</p>
  <mat-slider min="7" formControlName="StarnetSale" [thumb-label]="true"></mat-slider>

  <mat-form-field>
    <mat-select placeholder="{{ 'category' | translate }}" formControlName="categories">
      <mat-option *ngFor="let category of categories" value="{{category}}">
        {{ category }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="locationFormGroup.controls['categories'].errors?.required">
      {{ 'required category' | translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="{{ 'averages sum' | translate }}" formControlName="averageSum">
      <mat-option *ngFor="let price of prices" value="{{price}}">
        {{ price }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="locationFormGroup.controls['averageSum'].errors?.required">
      {{ 'required agerage sum' | translate }}
    </mat-error>
  </mat-form-field>

  <div class="flex">
    <mat-form-field>
      <textarea matInput placeholder="{{ 'description' | translate }} [RO]" formControlName="desciptionRO"></textarea>
      <mat-error *ngIf="locationFormGroup.controls['desciptionRO'].errors?.required">
        {{ 'required description' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="{{ 'description' | translate }} [RU]" formControlName="desciptionRU"></textarea>
      <mat-error *ngIf="locationFormGroup.controls['desciptionRU'].errors?.required">
        {{ 'required description' | translate }}
      </mat-error>
    </mat-form-field>
  </div>
</form>

<div class="buttons">
  <button mat-raised-button color="warn" (click)="resetForm()">{{ 'cancel' | translate }}</button>
  <button mat-raised-button matStepperNext color="primary" [disabled]="!locationFormGroup.valid" (click)="saveForm()">{{ 'next' | translate }}</button>
</div>
