form {
  width: 400px;
  margin: auto;
  padding: 25px;
  text-align: center;
  border: 0.6px solid rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  .selected {
    background: #d8c5c5;
  }
  .mat-form-field {
    margin-top: 30px;
  }
}
