<form [formGroup]="contactFormGroup">

    <div class="flex">
        <div class="flex column">
            <mat-form-field>
                <input matInput mask-number [mask]="'999-99-999'" placeholder="{{ 'phone' | translate }}" formControlName="phone" [(ngModel)]="phone">
                <span matPrefix >+373 </span>
                <mat-error *ngIf="!contactFormGroup.controls['phone'].errors?.required && contactFormGroup.controls['phone'].errors?.phone">
                  {{ 'valid number' | translate }}
                </mat-error>
                <mat-error *ngIf="contactFormGroup.controls['phone'].errors?.required">
                  {{ 'required phone' | translate }}
                </mat-error>
            </mat-form-field>
            
            <mat-form-field>
                <input matInput placeholder="{{ 'country' | translate }}" formControlName="country" [(ngModel)]="country" readonly>
                <mat-error *ngIf="contactFormGroup.controls['country'].errors?.required">
                  {{ 'required country' | translate }}
                </mat-error>
            </mat-form-field>
            
            <mat-form-field>
                <input matInput placeholder="{{ 'city' | translate }}" formControlName="city" [(ngModel)]="city" readonly>
                <mat-error *ngIf="contactFormGroup.controls['city'].errors?.required">
                  {{ 'required city' | translate }}
                </mat-error>
            </mat-form-field>
            
            <mat-form-field>
                <input matInput placeholder="{{ 'street' | translate }}" #address formControlName="street" [(ngModel)]="street">
                <mat-error *ngIf="contactFormGroup.controls['street'].errors?.required">
                    {{ 'required street' | translate }}
                </mat-error>
            </mat-form-field>
        </div>

        <div class="map">
            <h4>{{ 'maps' | translate }}</h4>
            
            <agm-map [latitude]="latitude" [longitude]="longitude" (mapClick)="mapping($event)">
                <agm-marker *ngIf="latitude && longitude" [latitude]="latitude" [longitude]="longitude"></agm-marker>
            </agm-map>
        </div>
    </div>
    <input formControlName="latitude" [(ngModel)]="latitude" hidden/>
    <input formControlName="longitude" [(ngModel)]="longitude" hidden/>
</form>

<div class="buttons">
    <button mat-raised-button matStepperPrevious color="accent">{{ 'previous' | translate }}</button>
    <button mat-raised-button color="warn" (click)="resetForm()">{{ 'cancel' | translate }}</button>
    <button mat-raised-button matStepperNext color="primary" [disabled]="!contactFormGroup.valid" (click)="saveForm()">{{ 'next' | translate }}</button>
</div>
