@import '~@angular/material/theming';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');

@include mat-core();

$primary: mat-palette($mat-lime, 500);
$accent:  mat-palette($mat-lime, 500, A200, A400);
$warn:    mat-palette($mat-red, 500);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

body {
    font-family: $mat-font-family;
    font-weight: normal;
}

h1, h2, h3, h4 {
    font-weight: normal;
}

.buttons {
    text-align: center;
    button {
        margin: 13px 7px;
    }
}

.cuppa-dropdown {
    position: initial !important;
    .selected-list {
        width: 420px;
    }
    .dropdown-list {
        width: 420px !important;
    }
}